.translate-info{
  padding: 0 0 0 10px;

  dt, dd{
    display: inline-block;
  }
  dt{
    padding-left: 0;
    font-weight: normal;
    &:before{
      content: "";
    }
  }
  dd{
    padding-right: 20px;
    font-weight: bold;
  }

}

